<!DOCTYPE html>
<html>
<head>
    <title>Merge to victory</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

{% for type, cards in cards_by_type.items() %}
    <section class="category">
        <h2 class="category-title">{{ type|capitalize }}</h2>

        <div class="cards">
        {% for card in cards %}
            <form method="post" action="/select/{{ card.id }}">
                <button class="card type-{{ card.type }} {% if card.id in selected %}selected{% endif %}">
                    <div class="card-name">{{ card.name }}</div>
                    <div class="card-age">Âge : {{ card.age }}</div>
                    <div class="card-id">#{{ card.id }}</div>
                </button>
            </form>
        {% endfor %}
        </div>
    </section>
{% endfor %}



<div class="actions">
    <form method="post" action="/combine">
        <input name="card1" placeholder="ID carte 1">
        <input name="card2" placeholder="ID carte 2">
        <button>Combiner</button>
    </form>

    <form method="post" action="/tick">
        <button>Passer le temps</button>
    </form>
</div>

</body>
</html>
